.text-brand {
    color: #019000 !important;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-red {
    color: #ff0000 !important;
}

.text-gray {
    color: #6B778C;
}

.text-gray-900 {
    color: #101828;
}

.text-gray-800 {
    color: #1D2939;
}

.text-gray-600 {
    color: #475467;
}

.text-gray-500 {
    color: #667085;
}

.text-gray-400 {
    color: #98A2B3;
}

.text-blue-dark {
    color: #172B4D;
}

.text-blue-700 {
    color: #026AA2;
}

.text-blue {
    color: #0d6efd;
}

.text-warning-400 {
    color: #FDB022;
}

.text-success-600 {
    color: #039855;
}

.text-error-500 {
    color: #F04438;
}

.bg-body {
    // background-color: rgba(231, 231, 231, 0.993) !important; 
    background-color: rgb(247, 247, 247) !important;
    height: 91vh;
}

.modal-bg {
    background-color: rgb(247, 247, 247);
}

.bg-brand {
    background-color: #019000 !important;
}

.bg-blue-50 {
    background-color: #F0F9FF;
}

.bg-error-50 {
    background-color: #FEE4E2;
}

.bg-orange-50 {
    background-color: #FFF6ED;
}

.bg-green-100 {
    background-color: #D3F8DF;
}

.bg-error-100 {
    background-color: #FEE4E2;
}

.bg-gray {
    background-color: #EAECF0;
}

.bg-gray-100 {
    background-color: #F2F4F7;
}

.bg-info {
    background-color: #5bc0de;
}

.bg-error {
    background-color: #F04438 !important;
}

.bg-green {
    background-color: #19951a !important;
}

.bg-green-50 {
    background-color: #d5f1d5;
}

.bg-yellow {
    background-color: #FDB022 !important;
}

.bg-off-white {
    background-color: #f2f3f7;
}

.bg-pink {
    background-color: #fbdede;
}

.bg-white {
    background-color: white;
}