.list-none {
  list-style: none;
}


.right-0 {
  right: 0px;
}

.right-10 {
  right: 10px;
}


//Padding
.p-unset {
  padding: unset;
}

.p-4 {
  padding: 4px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-32 {
  padding-right: 32px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

//Margin
.m-unset {
  margin: unset
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ml-1 {
  margin-left: 1px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}

.-ml-30 {
  margin-left: -30px;
}

.-ml-45 {
  margin-left: -45px;
}

.-ml-8 {
  margin-left: -8px;
}

.-ml-4 {
  margin-left: -4px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}


.-mt-4 {
  margin-top: -4px;
}

.-mt-10 {
  margin-top: -10px;
}

.-mt-12 {
  margin-top: -12px;
}

.-mt-15 {
  margin-top: -15px;
}

//border-radius
.r-1 {
  border-radius: 1px;
}

.r-2 {
  border-radius: 2px;
}

.r-3 {
  border-radius: 3px;
}

.r-4 {
  border-radius: 4px;
}

.r-10 {
  border-radius: 10px;
}

.r-20 {
  border-radius: 20px;
}

.r-30 {
  border-radius: 30px;
}

// gap
.g-2 {
  gap: 2px;
}

.g-3 {
  gap: 3px;
}

.g-4 {
  gap: 4px;
}

.g-5 {
  gap: 5px;
}

.g-6 {
  gap: 6px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.g-20 {
  gap: 20px;
}

.g-30 {
  gap: 30px;
}

.g-35 {
  gap: 35px;
}

.g-40 {
  gap: 40px;
}

// display
.scrollable {
  overflow: auto;
}

.scrollable-x {
  overflow-x: scroll;
}

.scrollable-y {
  overflow-y: scroll;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.border-0 {
  border: 1px solid white;
}

// text align
.text-start {
  text-align: start;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

//position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}



// width
.w-10 {
  width: 10px;
}

.w-12 {
  width: 12px;
}

.w-15 {
  width: 15px;
}

.w-16 {
  width: 16px;
}

.w-18 {
  width: 18px;
}

.w-20 {
  width: 20px;
}

.w-30 {
  width: 30px;
}

.w-40 {
  width: 40px;
}

.w-50 {
  width: 50px;
}

.w-60 {
  width: 60px;
}

.w-65 {
  width: 65px;
}

.w-70 {
  width: 70px;
}

.w-75 {
  width: 75px;
}

.w-80 {
  width: 80px;
}

.w-90 {
  width: 90px;
}

.w-100 {
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}

.w-150 {
  width: 150px;
}

.w-180 {
  width: 180px;
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.w-400 {
  width: 400px;
}

.w-450 {
  width: 450px;
}

.w-500 {
  width: 500px;
}

.w-550 {
  width: 550px;
}

.w-700 {
  width: 700px;
}

.w-750 {
  width: 750px;
}

.w-800 {
  width: 800px;
}

.w-900 {
  width: 900px;
}

.w-50P {
  width: 50%;
}

.w-40P {
  width: 40%;
}

.w-1vw {
  width: 1vw;
}

.w-2vw {
  width: 2vw;
}

.w-3vw {
  width: 3vw;
}

.w-4vw {
  width: 4vw;
}

.w-5vw {
  width: 5vw;
}

.w-6vw {
  width: 6vw;
}

.w-7vw {
  width: 7vw;
}

.w-8vw {
  width: 8vw;
}

.w-9vw {
  width: 9vw;
}

.w-10vw {
  width: 10vw;
}

.w-11vw {
  width: 11vw;
}

.w-12vw {
  width: 12vw;
}

.w-13vw {
  width: 13vw;
}

.w-14vw {
  width: 14vw;
}

.w-15vw {
  width: 15vw;
}

.w-20vw {
  width: 20vw;
}

.w-25vw {
  width: 25vw;
}

.w-30vw {
  width: 30vw;
}

.w-35vw {
  width: 35vw;
}

.w-38vw {
  width: 38vw;
}

.w-39vw {
  width: 39vw;
}

.w-40vw {
  width: 40vw;
}

.w-41vw {
  width: 41vw;
}

.w-42vw {
  width: 42vw;
}

.w-43vw {
  width: 43vw;
}

.w-43vw {
  width: 43vw;
}

.w-44vw {
  width: 44vw;
}

.w-45vw {
  width: 45vw;
}

.w-46vw {
  width: 46vw;
}

.w-47vw {
  width: 47vw;
}

.w-50vw {
  width: 50vw;
}

.w-55vw {
  width: 55vw;
}

.w-60vw {
  width: 60vw;
}

.w-70vw {
  width: 70vw;
}

.w-80vw {
  width: 80vw;
}

.w-90vw {
  width: 90vw;
}

.w-100vw {
  width: 100vw;
}

.w-40p {
  width: 40%;
}

.w-50p {
  width: 50%;
}

.w-60p {
  width: 60%;
}

.w-70p {
  width: 70%;
}

.w-75p {
  width: 75%;
}

.w-80p {
  width: 80%;
}

.w-90p {
  width: 90%;
}

.w-100p {
  width: 100%;
}

// Minimum Width
.min-w-80 {
  min-width: 80px;
}

.min-w-100 {
  min-width: 100px;
}

.min-w-120 {
  min-width: 120px;
}

.min-w-150 {
  min-width: 150px;
}

.min-w-200 {
  min-width: 200px;
}

.min-w-380 {
  min-width: 380px;
}

.min-w-400 {
  min-width: 400px;
}

.max-w-700 {
  max-width: 700px;
}

.max-w-10vw {
  max-width: 10vw;
}

.max-w-70vw {
  max-width: 70vw;
}

.max-w-80vw {
  max-width: 80vw;
}

.max-w-90vw {
  max-width: 90vw;
}

//height
.h-0 {
  height: 0px;
}

.h-10 {
  height: 10px;
}

.h-11 {
  height: 11px;
}

.h-12 {
  height: 12px;
}

.h-13 {
  height: 13px;
}

.h-14 {
  height: 14px;
}

.h-15 {
  height: 15px;
}

.h-16 {
  height: 16px;
}

.h-18 {
  height: 18px;
}

.h-20 {
  height: 20px;
}

.h-23 {
  height: 23px;
}

.h-25 {
  height: 25px;
}

.h-26 {
  height: 26px;
}

.h-27 {
  height: 27px;
}

.h-28 {
  height: 28px;
}

.h-30 {
  height: 30px;
}

.h-34 {
  height: 34px;
}

.h-40 {
  height: 40px;
}

.h-48 {
  height: 48px;
}

.h-50 {
  height: 50px;
}

.h-100 {
  height: 100px;
}

.h-40vh {
  height: 40vh;
}

.h-55vh {
  height: 55vh;
}

.h-75vh {
  height: 75vh;
}

.h-78vh {
  height: 78vh;
}

.h-80vh {
  height: 80vh;
}

.h-85vh {
  height: 85vh;
}

.h-87vh {
  height: 87vh;
}

.h-88vh {
  height: 88vh;
}

.h-90vh {
  height: 90vh;
}

.h-91vh {
  height: 91vh;
}

.h-100vh {
  height: 100vh;
}

.h-120vh {
  height: 120vh;
}

// Min Height 
.min-h-10 {
  min-height: 10px;
}

.min-h-20 {
  min-height: 20px;
}

.min-h-25 {
  min-height: 25px;
}

.min-h-100 {
  min-height: 100px;
}

.min-h-150 {
  min-height: 150px;
}

.min-h-200 {
  min-height: 200px;
}

.min-h-250 {
  min-height: 250px;
}

// Max Height
.max-h-80vh {
  max-height: 80vh;
}

.max-h-85vh {
  max-height: 85vh;
}

.max-h-87vh {
  max-height: 87vh;
}

.max-h-90vh {
  max-height: 90vh;
}


.border-dashed {
  border: 2px dashed #019000;
}

//Z index
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

//cursor
.pointer {
  cursor: pointer;
}